*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
  width: 350px;
  background-color: purple;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 10px;
}

#textInput{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 40px;
}

button{
    background-color: rgb(237, 159, 237);
    padding: 10px;
    display: block;
}

:is(button){
    font-weight: bolder;
    box-shadow: purple;
    font-size: 1.1rem;
    transition: all 1s;
    border-radius: 8px;

    &:hover{
        box-shadow: unset;
        border: 3px solid palegoldenrod;
    }
}

.C{
    color: red;
    font-weight: bold;
}

/* Media query */
@media (width < 999px)
{
    div{
        width: 200px;
        margin: auto;
    }

    .textInput{
        grid-column-start: 1;
        grid-column-end: 5;
        height: 20px;
    }
    
    button{
        padding: 5px;
        display: block;
    }
}






